<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Little Bookshelf{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header class="topbar">
    <div class="container">
<nav class="nav">

  {% if request.endpoint != 'index' %}
    <a href="{{ url_for('index') }}">HOME</a>
  {% endif %}

  <a href="{{ url_for('search') }}">BUSCAR LIBROS</a>
  <a href="{{ url_for('about') }}">SOBRE MI</a>

  {% if current_user %}
    <a href="{{ url_for('new_review') }}">CREAR REVIEW</a>
    <a href="{{ url_for('profile') }}">MI PERFIL</a>
    <a class="muted" href="{{ url_for('logout') }}">LOGOUT</a>
  {% else %}
    <a href="{{ url_for('login') }}">INICIAR SESION</a>
    <a href="{{ url_for('register') }}">REGISTRARSE</a>
  {% endif %}

</nav>
    </div>
  </header>

  <main class="container">
    {% if msg %}
      <div class="alert success">{{ msg }}</div>
    {% endif %}
    {% if error %}
      <div class="alert error">{{ error }}</div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      <small>Proyecto ASIR2 · Flask + MySQL</small>
    </div>
  </footer>
</body>
</html>