{% extends "base.html" %}
{% block title %}Login · Mistery Reviews{% endblock %}

{% block content %}
  <h1>Login</h1>

  <form method="post" action="{{ url_for('login') }}" class="card form">
    <label>Usuario</label>
    <input type="text" name="username" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button type="submit">Entrar</button>

    <p class="muted">
      ¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate</a>.
    </p>
  </form>
{% endblock %}